{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Music Mixes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'Assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'Assets/css/Music.css' %}">
</head>
<body>
  <!--Header-->
    <header id="thanks" class="shadow-lg p-4 mb-4">
        <div class="container w-50 text-white text-center pt-5 pb-5">
     </div>
     <div class="container text-white">
       <div class="row">
         <div class="col">
         </div>
         <div class="col-md-8 w-50 shadow-lg p-4 mb-4 intro text-center lead">
           <h1>Thanks For Subscribing!</h1>
       <button class="btn"><a style="all: unset;" href="/">Home</a></button> 
         </div>
         <div class="col">
         </div>
       </div>
     </div>
     </header>

    <script src="{% static 'Assets/js/bootstrap.min.js' %}"></script>
</body>